doctype html
html(lang=fr)
  head
    title #{nom}
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    script(src="views/script.js")
    body.ui.container
        div.ui.compact.menu
         h1 Catalogue des produits dans la catégorie Raspberry
          div.ui.three.cards
           - var n = 0;
           each e in catalogue
            div.card 
             div.image
              img(src="images/"+e.image)
             div.content 
              div.header #{e.lib}
             
             div(class="extra content")
              p(class="left floated ui tag label ") #{e.prix} €
              a(class="ui link right floated addToCart" href='/addToCart?id='+n++) 
                i(class="cart arrow down icon")
                p Ajouter au panier
             